body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}
.container {
    margin-top: 100px;
    text-align: center;
}
h1 {
    color: #343a40;
    margin-bottom: 30px;
}
.btn-custom {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    transition: transform 0.2s ease;
}
.btn-custom:hover {
    transform: scale(1.1);
}
.btn-primary {
    background-color: #28a745;
    border: none;
}
.btn-success {
    background-color: #cbce32;
    border: none;
}
.btn-danger {
    background-color: #dc3545;
    border: none;
}